* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: crimson;
    columns: #fff;
    padding: 20px;

}

.menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    overflow-x:hidden ;
    padding-top: 60px;
    transition:  0.5s;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #ccc;
    color: #1f1f1f;
}

.menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.2em;
    margin-left: 60px;
}

#content {
    padding: 30px;
    transition: margin-left 0.8s;
}